.colored {
/* background: rgba(54, 25, 25, .5);*/
}
#background {
    width: 100%; 
    height: 100%; 
    position: fixed; 
    left: 0px; 
    top: 0px; 
    z-index: -999; /* Ensure div tag stays behind content; -999 might work, too. */
}

.stretch {
    width:100%;
    height:100%;
}

body {
    overflow:hidden;
}

/* Loading Indicator CSS */
#circleG{
width:149.33333333333334px;
}

.circleG{
background-color:#FFFFFF;
float:left;
height:32px;
margin-left:17px;
width:32px;
-moz-animation-name:bounce_circleG;
-moz-animation-duration:1.9500000000000002s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
-moz-border-radius:21px;
-webkit-animation-name:bounce_circleG;
-webkit-animation-duration:1.9500000000000002s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-webkit-border-radius:21px;
-ms-animation-name:bounce_circleG;
-ms-animation-duration:1.9500000000000002s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:linear;
-ms-border-radius:21px;
-o-animation-name:bounce_circleG;
-o-animation-duration:1.9500000000000002s;
-o-animation-iteration-count:infinite;
-o-animation-direction:linear;
-o-border-radius:21px;
animation-name:bounce_circleG;
animation-duration:1.9500000000000002s;
animation-iteration-count:infinite;
animation-direction:linear;
border-radius:21px;
}

#circleG_1{
-moz-animation-delay:0.39s;
-webkit-animation-delay:0.39s;
-ms-animation-delay:0.39s;
-o-animation-delay:0.39s;
animation-delay:0.39s;
}

#circleG_2{
-moz-animation-delay:0.9099999999999999s;
-webkit-animation-delay:0.9099999999999999s;
-ms-animation-delay:0.9099999999999999s;
-o-animation-delay:0.9099999999999999s;
animation-delay:0.9099999999999999s;
}

#circleG_3{
-moz-animation-delay:1.1700000000000002s;
-webkit-animation-delay:1.1700000000000002s;
-ms-animation-delay:1.1700000000000002s;
-o-animation-delay:1.1700000000000002s;
animation-delay:1.1700000000000002s;
}

@-moz-keyframes bounce_circleG{
0%{
}

50%{
background-color:#2F7FE0}

100%{
}

}

@-webkit-keyframes bounce_circleG{
0%{
}

50%{
background-color:#2F7FE0}

100%{
}

}

@-ms-keyframes bounce_circleG{
0%{
}

50%{
background-color:#2F7FE0}

100%{
}

}

@-o-keyframes bounce_circleG{
0%{
}

50%{
background-color:#2F7FE0}

100%{
}

}

@keyframes bounce_circleG{
0%{
}

50%{
background-color:#2F7FE0}

100%{
}

}

#loading {
width:170px;
height:80px;
position:absolute;
left:45%;
top:45%;
background-color:white;
margin-left:auto;
margin-right:auto;
text-align:center;
border-radius:15px;
box-shadow: 10px 10px 5px #888888;
border:2px solid;
z-index:999;
}

/* Popup Link to Editor */
#editorLink {
width:20%;
height:67%;
background-color:white;
border:2px solid;
text-align:center;
position:absolute;
top:100%;
left:40%;
border-radius:15px;
z-index:999;
}
#hoverForLink {
position:absolute;
left:0%;
top:85%;
width:100%;
height:15%;
}

::-webkit-scrollbar {
	display:none;
}